<nav class="navbar navbar-default">

    <div class="container-fluid">

        <!-- link to root (redirect to /recipes) -->
        <div class="navbar-header">
            <a  [routerLink]="['/']" 
                class="navbar-brand">
                Recipe Book
            </a>
        </div>

        <div class="collapse navbar-collapse">

            <!-- first list: links to /recipes and /shopping-list -->
            <ul class="nav navbar-nav">

                <!-- link to /recipes -->
                <!-- when active, add .active bootstrap class -->
                <!-- /recipes link will disappear if the user is not authenticated -->
                <li routerLinkActive="active"
                    *ngIf="isAuthenticated">
                    <a [routerLink]="['/recipes']">
                        Recipes
                    </a>
                </li>

                <!-- link to /shopping-list -->
                <!-- when active, add .active bootstrap class -->
                <li routerLinkActive="active">
                    <a [routerLink]="['/shopping-list']">
                        Shopping List
                    </a>
                </li>

                <!-- link to /auth -->
                <!-- when active, add .active bootstrap class -->
                <!-- the authenticate link will disappear if the user is authenticated -->
                <li routerLinkActive="active"
                    *ngIf="!isAuthenticated">
                    <a [routerLink]="['/auth']">
                        Authenticate
                    </a>
                </li>

            </ul>

            <!-- second list: database message boxes, logout and managament dropdown -->
            <ul class="nav navbar-nav navbar-right">

                <!-- database message boxes: will appear if user is authenticated -->
                <li *ngIf="isAuthenticated">

                    <!-- loading gif; renders while fetching or saving -->
                    <img src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/09b24e31234507.564a1d23c07b4.gif" 
                            alt="Loading..."
                            *ngIf="fetching || saving"
                            style="width: 40px;">
                    
                    <!-- fetching data box: active while fetching flag is active -->
                    <div class="alert alert-info"
                         *ngIf="fetching"
                         style="display: inline-block; margin: 0 10px 0 10px">
                        <strong>
                            Fetching from Database...
                        </strong>
                    </div>

                    <!-- saving data box: active while saving flag is active -->
                    <div class="alert alert-info"
                         *ngIf="saving"
                         style="display: inline-block; margin: 0 10px 0 10px">
                        <strong>
                            Saving to Database...
                        </strong>
                    </div>

                    <!-- fetching success data box: active while fetchSuccessful flag is active -->
                    <div class="alert alert-success"
                         *ngIf="fetchSuccessful"
                         style="display: inline-block; margin: 0 10px 0 10px">
                        <strong>
                            Recipes Fetched!
                        </strong>
                    </div>

                    <!-- saving success data box: active while saveSuccessful flag is active -->
                    <div class="alert alert-success"
                         *ngIf="saveSuccessful"
                         style="display: inline-block; margin: 0 10px 0 10px">
                        <strong>
                            Recipes Saved!
                        </strong>
                    </div>

                </li>

                <!-- logout: appears if user is authenticated -->
                <li *ngIf="isAuthenticated">
                    <a  style="cursor: pointer;"
                        (click)="onLogout()">
                        Logout
                    </a>
                </li>

                <!-- management dropdown menu -->
                <!-- DropdownDirective adds the .open bootstrap class to enable the dropdown animation -->
                <!-- won't appear if the user is not authenticated -->
                <li class="dropdown"
                    appDropdown
                    *ngIf="isAuthenticated">

                    <!-- link to display dropdown menu -->
                    <a  style="cursor: pointer;" 
                        class="dropdown-toggle" 
                        role="button">
                        Manage <span class="caret"></span>
                    </a>

                    <!-- dropdown menu -->
                    <ul class="dropdown-menu">

                        <!-- link to save data -->
                        <li>
                            <a  style="cursor: pointer;"
                                (click)="onSaveRecipes()">
                                Save Data
                            </a>
                        </li>

                        <!-- link to fetch data -->
                        <li>
                            <a  style="cursor: pointer;"
                                (click)="onFetchRecipes()">
                                Fetch Data
                            </a>
                        </li>
                        
                    </ul>

                </li>

            </ul>

        </div>

    </div>

</nav>