<!-- header component html -->

<!-- main nav -->
<nav class="navbar navbar-default">

    <!-- navbar container -->
    <div class="container-fluid">

        <!-- navbar header: link to root (redirect to /recipes) -->
        <div class="navbar-header">
            <a  [routerLink]="['/']" 
                class="navbar-brand">
                Recipe Book
            </a>
        </div>

        <!-- collapsed navbar (?) -->
        <div class="collapse navbar-collapse">

            <!-- first list, links to the recipes and the shopping list -->
            <ul class="nav navbar-nav">

                <!-- link to /recipes -->
                <li>
                    <a [routerLink]="['/recipes']">
                        Recipes
                    </a>
                </li>

                <!-- link to /shopping-list -->
                <li>
                    <a [routerLink]="['/shopping-list']">
                        Shopping List
                    </a>
                </li>

            </ul>

            <!-- second list, pushed to the right -->
            <ul class="nav navbar-nav navbar-right">

                <!-- first list item: a dropdown menu -->
                <li class="dropdown"
                    appDropdown>

                    <!-- link to display the dropdown menu -->
                    <a href="#" class="dropdown-toggle" role="button">
                        Manage <span class="caret"></span>
                    </a>

                    <!-- dropdown menu: links to save data and fetch data -->
                    <ul class="dropdown-menu">

                        <!-- link to save data -->
                        <li>
                            <a href="#">
                                Save Data
                            </a>
                        </li>

                        <!-- link to fetch data -->
                        <li>
                            <a href="#">
                                Fetch Data
                            </a>
                        </li>
                        
                    </ul>

                </li>

            </ul>

        </div>

    </div>

</nav>