<!-- users component html -->

<!-- grid -->
<div class="row">

	<!-- first column -->
	<div class="col-xs-12 col-sm-4">

		<!-- unordered list -->
		<div class="list-group">

			<!-- loop through the users array and create links with each user name embedded -->
			<!-- using current user id and name to create automatically dynamic url paths -->
			<a
				[routerLink]="['/users', user.id, user.name]"
				href="#"
				class="list-group-item"
				*ngFor="let user of users">
				{{ user.name }}
			</a>

		</div>

	</div>

	<!-- second column: user component -->
	<div class="col-xs-12 col-sm-4">

		<!-- <app-user></app-user> -->

		<!-- hook to place here all child routes -->
		<!-- which is /users/id/name -->
		<router-outlet></router-outlet>

	</div>

</div>


