<!-- recipe edit component -->

<!-- grid -->
<div class="row">

    <!-- column -->
    <div class="col-xs-12">

        <!-- form: we will use the reactive recipeForm found on our component -->
        <!-- listen for submit button also -->
        <form   [formGroup]="recipeForm" 
                (ngSubmit)="onSubmit()">
            
            <div class="row">

                <div class="col-xs-12">

                    <!-- submit button -->
                    <!-- if we are on edit mode, we will style it differently with .btn-edit -->
                    <!-- while the form is invalid, we will make this button disabled -->
                    <!-- add a local reference since we will edit its text -->
                    <button class="btn btn-success"
                            [ngClass]=" { 'btn-edit': editMode } "
                            type="submit"
                            [disabled]="!recipeForm.valid"
                            #submitRecipeButton>
                        Add Recipe
                    </button>

                    <button class="btn btn-danger"
                            (click)="onCancel()">
                        Cancel
                    </button>

                </div>

            </div>

            <div class="row">

                <div class="col-xs-12">

                    <!-- first field: recipe name -->
                    <div class="form-group">

                        <label for="name">
                            Recipe Name
                        </label>
        
                        <!-- associate it with 'name' FormControl on component class -->
                        <input  type="text" 
                                name="name"
                                id="name"
                                class="form-control"
                                [formControlName]="'name'">
        
                    </div>

                </div>

            </div>

            <div class="row">

                <div class="col-xs-12">

                    <!-- second field: recipe description -->
                    <div class="form-group">

                        <label for="description">
                            Recipe Description
                        </label>
        
                        <!-- associate it with 'description' FormControl on component class -->
                        <textarea   type="text" 
                                    name="description"
                                    id="description"
                                    class="form-control"
                                    rows="6"
                                    [formControlName]="'description'">
                        </textarea>
        
                    </div>

                </div>

            </div>

            <div class="row">

                <div class="col-xs-12">

                    <!-- third field: recipe image path -->
                    <div class="form-group">

                        <label for="imagePath">
                            Recipe Image Path
                        </label>
        
                        <!-- associate it with 'imagePath' FormControl on component class -->
                        <input  type="text" 
                                name="imagePath"
                                id="imagePath"
                                class="form-control"
                                [formControlName]="'imagePath'">
                        
                        <!-- warning message to user in case it enters an invalid id -->
                        <span   *ngIf="!recipeForm.get('imagePath').valid && recipeForm.get('imagePath').touched"
                                class="help-block">
                            Please enter a valid URL.
                        </span>
        
                    </div>

                </div>

            </div>

            <div class="row">

                <div class="col-xs-12">

                    <!-- render preview image if the imagePath control happens to have a valid URL -->
                    <div *ngIf="recipeForm.get('imagePath').valid">
               
                       <label>
                           Preview Image
                       </label>
               
                       <!-- bind the src property to the currentImagePath property, which is subscribed to -->
                       <!-- value changes of the imagePath controls -->
                       <img    [src]="currentImagePath" 
                               alt="Waiting for valid url..."
                               class="img-responsive"
                               style="margin-bottom: 1rem">
                   
                    </div>

                </div>

            </div>

            <div class="row">

                <div class="col-xs-12">

                    <!-- ingredients FormArray -->
                    <div formArrayName="ingredients">

                        <div class="row">

                            <div class="col-xs-6">

                                <!-- button to be able to add a new ingredient FormGroup to the FormArray -->
                                <button class="btn btn-secondary"
                                        style="width: 100%;"
                                        type="button"
                                        (click)="onAddIngredient()">
                                    Add Ingredient
                                </button>

                            </div>

                            <div class="col-xs-6">

                                <!-- button to delete all ingredient form groups -->
                                <button class="btn btn-danger"
                                        style="width: 100%;"
                                        type="button"
                                        (click)="onDeleteAllIngredients()">
                                    Delete All Ingredients
                                </button>

                            </div>

                        </div>

                        <!-- loop through all ingredient FormGroup elements inside the FormArray -->
                        <!-- the form group name for each iteration will be its index value -->
                        <div    class="form-group"
                                *ngFor="let ingredient of getControls('ingredients'); let i = index"
                                [formGroupName]="i">
                            
                            <div class="row">

                                <div class="col-xs-12">

                                    <div class="row">
        
                                        <div class="col-xs-8">
        
                                            <!-- ingredient name -->
                                            <label>
                                                Name
                                            </label>
                        
                                            <input  type="text"
                                                    class="form-control"
                                                    [formControlName]="'name'">
        
                                        </div>
        
                                        <div class="col-xs-2">
        
                                            <!-- ingredient amount -->
                                            <label>
                                                Amount
                                            </label>
                        
                                            <input  type="number"
                                                    class="form-control"
                                                    [formControlName]="'amount'">
        
                                        </div>
        
                                        <div class="col-xs-2">

                                            <label>
                                                Delete
                                            </label>

                                            <!-- each ingredient FormGroup will come with a delete button so we can delete an ingredient while updating/adding a recipe -->
                                            <button class="btn btn-danger"
                                                    style="display: block; margin-top: 0.75rem;"
                                                    type="button"
                                                    (click)="onDeleteRecipeIngredient(i)">
                                                X
                                            </button>
        
                                        </div>

                                    </div>

                                </div>

                            </div> 
        
                        </div>
                    
                    </div>

                </div>

            </div>

            <!-- general form warning: if form is invalid in any sense, display this text -->
            <span   *ngIf="!recipeForm.valid && recipeForm.touched"
                    class="help-block">
                Please fill in all forms and ensure that you have positive ingredient amounts.
            </span>

        </form>

    </div>

</div>