<div class="row">

    <div class="col-xs-12 col-md-6 col-md-offset-3">

        <!-- <ng-template> with placeholder directive to get a this element's -->
        <!-- view container reference, requires to add inside dynamic components -->
        <!-- (imperative way through a component factory) -->
        <ng-template appPlaceholder>

        </ng-template>

        <!-- display loading spinner if app is loading data -->
        <div *ngIf="isLoading"
              style="text-align: center;">
            <app-loading-spinner></app-loading-spinner>
        </div>

        <!-- auth form (template-driven approach) -->
        <form   class="form"
                #authForm="ngForm"
                (ngSubmit)="onSubmit(authForm)"
                *ngIf="!isLoading">

            <!-- email input -->
            <div class="form-group">

                <label for="email">
                    Email
                </label>

                <!-- required and email built-in validators -->
                <input  type="email" 
                        class="form-control"
                        id="email"
                        name="email"
                        ngModel
                        required
                        email>

            </div>

            <!-- password input -->
            <div class="form-group">

                <label for="password">
                    Password
                </label>

                <!-- required and minimum length built-in validators -->
                <input  type="password" 
                        class="form-control"
                        id="password"
                        name="password"
                        ngModel
                        required
                        minlength="6">

            </div>

            <!-- button section -->
            <div>

                <!-- sign up button -->
                <!-- disable if form is unvalid -->
                <button class="btn btn-primary"
                        type="submit"
                        [disabled]="!authForm.valid">
                    {{ isLoginMode ? 'Login' : 'Sign Up' }}
                </button>

                |

                <!-- toggle button to either login or signup -->
                <button class="btn btn-primary"
                        (click)="onSwitchMode()"
                        type="button">
                    Switch to {{ isLoginMode ? 'Sign Up' : 'Login' }}
                </button>

            </div>

        </form>

    </div>

</div>