<!-- cockput component -->
<div class="row">

    <div class="col-xs-12">

        <p>
            Add new Servers or blueprints!
        </p>

        <label>
            Server Name
        </label>

        <!-- input to add server name -->
        <input type="text" class="form-control" [(ngModel)]="newServerName">
            
        <label>
            Server Content
        </label>
        
        <!-- input to add server content -->
        <input type="text" class="form-control" [(ngModel)]="newServerContent">
            
        <br>
        
        <!-- button to add server -->
        <button
            class="btn btn-primary"
            (click)="onAddServer()">
            Add Server
        </button>

        <!-- button to add blueprint -->
        <button
            class="btn btn-primary"
            (click)="onAddBlueprint()">
            Add Server Blueprint
        </button>
    
    </div>

</div>