<!-- cockput component -->
<div class="row">

    <div class="col-xs-12">

        <p>
            Add new Servers or blueprints!
        </p>

        <label>
            Server Name
        </label>

        <!-- input to add server name (two-way data-binding) -->
        <!-- <input type="text" class="form-control" [(ngModel)]="newServerName"> -->

        <!-- input to add server name (local reference) -->
        <!-- #serverNameInput holds a reference to the input html element -->
        <input  type="text" 
                class="form-control" 
                #serverNameInput>
            
        <label>
            Server Content
        </label>
        
        <!-- input to add server content (two-way data-binding) -->
        <!-- <input type="text" class="form-control" [(ngModel)]="newServerContent"> -->

        <!-- input to add server content (two-way data-binding) -->
        <!-- #serverContentInput: our local reference -->
        <input  type="text" 
                class="form-control" 
                #serverContentInput>
            
        <br>
        
        <!-- button to add server -->
        <!-- pass in the local reference to the html input element -->
        <button
            class="btn btn-primary"
            (click)="onAddServer(serverNameInput)">
            Add Server
        </button>

        <!-- button to add blueprint -->
        <!-- pass in the local reference to the html input element -->
        <button
            class="btn btn-primary"
            (click)="onAddBlueprint(serverNameInput)">
            Add Server Blueprint
        </button>
    
    </div>

</div>