<!-- shopping list component -->

<!-- grid -->
<div class="row">

    <!-- first column: shopping edit component and a paragraph that resembles the current shopping list -->
    <div class="col-xs-10">

        <!-- shopping edit component -->
        <app-shopping-edit>

        </app-shopping-edit>

        <hr>

        <!-- list of... -->
        <ul class="list-group">

            <!-- links, using *ngFor to create multiple links of each ingredient model on the ingredients array field -->
            <!-- of the shopping list component -->

            <!-- when clicked, call event handler with the index sent as an argument -->
            <!-- (ingredients | async).ingredients: the async pipe will subscribe to the ingredients observable and wait for it -->
            <!-- to be resolved, upon resolving, we access the 'ingredients' property value, which is the array of ingredients -->
            <a  class="list-group-item" 
                style="cursor: pointer;"
                *ngFor="let ingredient of (ingredients | async).ingredients; let i = index"
                (click)="onShoppingListIngredientClick(i)">

                <!-- simply print the current ingredient name and amount -->
                {{ ingredient.name }} {{ ingredient.amount }}

            </a>

        </ul>
        
    </div>

</div>