<!-- recipes component html -->

<!-- grid -->
<div class="row">

    <!-- first column: the recipe list component -->
    <!-- when sendSelectedRecipe forwards recipe data, we will call -->
    <!-- the setSelectedRecipe() handler which will receive the recipe data -->
    <div class="col-md-5">
        <app-recipe-list
            (sendSelectedRecipe)="setSelectedRecipe($event)">

        </app-recipe-list>
    </div>

    <!-- second column: the selected recipe item detail component -->
    <!-- display this component when the display boolean flag is set to true -->
    <!-- also, bind the recipe property of the RecipeDetailComponent to the selectedRecipe property -->
    <!-- from this RecipesComponent -->
    <div class="col-md-7">
        <app-recipe-detail
            *ngIf="doRenderDetails === true"
            [recipe]="selectedRecipe">

        </app-recipe-detail>
    </div>

</div>
