<!-- edit server component -->

<!-- if the allowEdit boolean is false: inform user he can't edit -->
<h4
	*ngIf="!allowEdit">
	You are not allowed to edit
</h4>

<!-- if the allowEdit boolean is true: inform user he can edit -->
<div
	*ngIf="allowEdit">

	<!-- server name -->
	<div class="form-group">
	
		<label for="name">
			Server Name
		</label>
	
		<!-- first input: server name (two-way data binding) -->
		<input
			type="text"
			id="name"
			class="form-control"
			[(ngModel)]="serverName">
	
	</div>
	
	<!-- server status -->
	<div class="form-group">
	
		<label for="status">
			Server Status
		</label>
	
		<!-- select from the three possible server statuses -->
		<select
			id="status"
			class="form-control"
			[(ngModel)]="serverStatus">
	
			<option value="online">
				Online
			</option>
			
			<option value="offline">
				Offline
			</option>
	
		</select>
	
	</div>
	
	<!-- button: on click, call onUpdateServer() -->
	<button
		class="btn btn-primary"
		(click)="onUpdateServer()">
		Update Server
	</button>

</div>
