<!-- single server element component -->
<div
    class="panel panel-default">
    
    <!-- server name -->
    <!-- how can we access the current element from here? since the *ngFor statement is applied to the root component tag -->
    <div class="panel-heading">
        {{ name }}
    </div>
    
    <div class="panel-body">

        <!-- project the content we declared on the root component inside the <app-server-element></app-server-element> tags -->
        <ng-content>

        </ng-content>

    </div>
    
</div>