<!-- root component html -->

<div class="container">

    <div class="row">

        <div class="col-xs-12">

            <h3>
                Active Users
            </h3>

            <!-- loop through all users -->
            <div
                *ngFor="let user of users; let i = index">

                <!-- only print active users component where the status is active -->
                <!-- bind the user object literal and the index -->
                <app-active-user
                    *ngIf="user.status === 'active'"
                    [user]="user"
                    [id]="i">
    
                </app-active-user>

            </div>

            <h3>
                Inactive Users
            </h3>

            <!-- loop through all users -->
            <div
                *ngFor="let user of users; let i = index">

                <!-- only print active users component where the status is inactive -->
                <!-- bind the user object literal and the index -->
                <app-inactive-user
                    *ngIf="user.status === 'inactive'"
                    [user]="user"
                    [id]="i">
    
                </app-inactive-user>

            </div>

            <!-- display of counter values -->
            <div>

                <h3>
                    Active to Inactive Changes
                </h3>

                <p>
                    {{ userService.activeToInactive }}
                </p>

                <h3>
                    Inactive to Active Changes
                </h3>

                <p>
                    {{ userService.inactiveToActive }}
                </p>

            </div>

        </div>

    </div>

</div>