<!-- root component html -->

<!-- the header component -->
<!-- listen for the sectionToDisplay found on the header component, trigger setSection() root component method -->
<!-- to set the new section string value -->
<app-header
    (sectionToDisplay)="setSection($event)">

</app-header>

<!-- main container -->
<div class="container">

    <!-- grid -->
    <div class="row">

        <!-- first column: recipes component and shopping list component beneath -->
        <div class="col-md-12">

            <!-- display app recipes component if the actual section value is 'recipes' -->
            <app-recipes
                *ngIf="section === 'recipes'">

            </app-recipes>

            <!-- display app recipes component if the actual section value is 'shopping list' -->
            <app-shopping-list
                *ngIf="section === 'shoppingList'">

            </app-shopping-list>
            
        </div>

    </div>

</div>