<!-- root component -->
<div class="container">

	<!-- cockpit component: inputs and action buttons -->

	<!-- serverCreated: event emitter that comes from cockpit.component.ts -->
	<!-- when calling emit() from the child component, it will pass the emitted data -->
	<!-- to the onServerAdded() method found on the parent component, labeled $event -->

	<!-- blueprintCreated: event emitter that comes from cockpit.component.ts -->
	<!-- when calling emit() from the child component, it will pass the emitted data -->
	<!-- to the onServerAdded() method found on the parent component, labeled $event -->
	<app-cockpit
		(serverCreated)="onServerAdded($event)"
		(bpCreated)="onBlueprintAdded($event)">
	</app-cockpit>

  	<hr>

	<div class="row">

		<div class="col-xs-12">

			<!-- loop through all server elements we have as an array on the root component -->
			<!-- but to add content, we need the cockpit component to be able to access that array to push new servers/blueprints -->

			<!-- [element]="serverElement": access the 'element' field from the ServerElement component and assign it the current iteration value -->
			<app-server-element *ngFor="let serverElement of serverElements"
								[srvElement]="serverElement">
			</app-server-element>

		</div>
		
	</div>

</div>