<!-- single recipe item markup -->

<!-- link -->
<!-- when clicking on an recipe item, we will the onRecipeItemClick() method -->
<!-- deleted href -->
<!-- routerLink: localhost:4200/recipes/id -->
<a  
    [routerLink]="[index]"
    style="cursor: pointer;"
    class="list-group-item clearfix"
    (click)="onRecipeItemClick()">

    <!-- content of link pulled to the left -->
    <div class="pull-left">

        <!-- recipe name -->
        <h4 class="list-group-item-heading">
            {{ recipe.name }}
        </h4>

        <!-- recipe list -->
        <p class="list-group-item-text">
            {{ recipe.description }}
        </p>

    </div>

    <!-- recipe image -->
    <!-- property binding: bind 'src' image property to the current recipe image path url -->
    <span class="pull-right">

        <img [src]="recipe.imagePath" 
            alt="{{recipe.name}}" 
            class="img-responsive" 
            style="max-height: 50px;">

    </span>

</a>