<!-- user component html -->

<!-- text input: two way data binding between this input and the username component property -->
<input 
    type="text"
    class="form-control"
    [(ngModel)]="username">

<!-- string interpolation: print username property -->
<p>
    {{ username }}
</p>

<!-- button: on click, call clearUsername() -->
<!-- disable dynamically the button according to the isUsernameEmpty() boolean result -->
<button
    (click)="clearUsername()"
    [disabled]="isUsernameEmpty()">
    Reset Username
</button>