<!-- recipe list html -->

<!-- grid -->
<div class="row">

    <!-- first column -->
    <div class="col-xs-12">

        <!-- button to add a new recipe -->
        <button class="btn btn-success">
            New Recipe
        </button>

    </div>

</div>

<!-- grid -->
<div class="row">

    <!-- first column -->
    <!-- loop through each recipe in the recipes array field of the recipe list component -->
    <div class="col-xs-12"
         *ngFor="let recipe of recipes">

        <!-- link -->
        <a href="#" class="list-group-item clearfix">

            <!-- content of link pulled to the left -->
            <div class="pull-left">

                <!-- recipe name -->
                <h4 class="list-group-item-heading">
                    {{ recipe.name }}
                </h4>

                <!-- recipe list -->
                <p class="list-group-item-text">
                    {{ recipe.description }}
                </p>

            </div>

            <!-- recipe image -->
            <!-- property binding: bind 'src' image property to the current recipe image path url -->
            <span class="pull-right">
                <img [src]="recipe.imagePath" alt="" class="img-responsive" style="max-height: 50px;">
            </span>

        </a>

        <!-- recipe item -->
        <app-recipe-item></app-recipe-item>

    </div>

</div>