<!-- recipe list html -->

<!-- grid -->
<div class="row">

    <!-- first column -->
    <div class="col-xs-12">

        <!-- button to add a new recipe -->
        <button class="btn btn-success">
            New Recipe
        </button>

    </div>

</div>

<hr>

<!-- grid -->
<div class="row">

    <!-- first column -->
    <!-- loop through each recipe in the recipes array field of the recipe list component -->
    <div class="col-xs-12">

        <!-- recipe item component -->
        <!-- create recipe item components as long as there are recipes to loop in the array -->
        <!-- access the 'recipe' property from RecipeItemComponent and provide it with the curren recipe iteration value -->
        <!-- also, bind the current index with the 'index' property of the recipe item component -->
        <app-recipe-item
            *ngFor="let recipe of recipes; let i = index"
            [recipe]="recipe"
            [index]="i">

        </app-recipe-item>

    </div>

</div>