<!-- shopping edit component -->

<!-- grid -->
<div class="row">

    <!-- column -->
    <div class="col-xs-12">

        <!-- ingredient form -->
        <form>

            <!-- grid -->
            <div class="row">

                <!-- template-driven form -->
                <form   (ngSubmit)="onSubmit()" 
                        #shoppingListForm="ngForm">
                
                    <!-- first column -->
                    <div class="col-sm-5 form-group">
    
                        <!-- first input: ingredient name -->
                        <label for="ingredientName">
                            Name
                        </label>
    
                        <!-- place a local reference to use on the .ts file -->
                        <!-- ngModel: this will be a control with name ingredientName -->
                        <!-- required: can't be empty -->
                        <input 
                            type="text" 
                            name="ingredientName"
                            id="ingredientName" 
                            class="form-control"
                            ngModel
                            required
                            #ingredientName="ngModel">
                        
                        <!-- display this text if ingredient name is invalid and touched -->
                        <span   *ngIf="!ingredientName.valid && ingredientName.touched"
                                class="help-block">
                            This field is required.
                        </span>
    
                    </div>
    
                    <!-- second input: ingredient amount -->
                    <div class="col-sm-2 form-group">
    
                        <label for="ingredientAmount">
                            Amount
                        </label>
    
                        <!-- place a local reference to use on the .ts file -->
                        <!-- set initially the amount of 1 -->
                        <!-- [pattern] to express a regexp to allow only number higher than 1 -->
                        <!-- required: field can't be empty -->
                        <input 
                            type="number"
                            name="ingredientAmount"
                            id="ingredientAmount" 
                            class="form-control"
                            [ngModel]="1"
                            [pattern]="'^[1-9]+[0-9]*$'"
                            required
                            #ingredientAmount="ngModel">
                        
                        <!-- display text if field is invalid and touched -->
                        <span   *ngIf="!ingredientAmount.valid && ingredientAmount.touched"
                                class="help-block">
                            Wrong amount.
                        </span>
        
                    </div>
                        
                </form>

            </div>

            <!-- grid inside form: buttons -->
            <div class="row">

                <!-- column -->
                <div class="col-xs-12">

                    <!-- add an ingredient to shopping list -->
                    <!-- on click, call onSubmitClick() event handler -->
                    <!-- disable submit button while form is invalid -->
                    <button type="submit" 
                            class="btn btn-success"
                            [disabled]="!shoppingListForm.valid"
                            (click)="onSubmitClick()">
                        Add
                    </button>

                    <!-- delete an ingredient from shopping list -->
                    <button type="button" class="btn btn-danger">
                        Delete
                    </button>

                    <!-- clear ingredient form -->
                    <button type="button" class="btn btn-primary">
                        Clear
                    </button>

                </div>

            </div>

        </form>

    </div>

</div>