<div class="row">

    <div class="col-xs-12">

        <!-- form: template-driven -->
        <form   (ngSubmit)="onSubmit()" 
                #shoppingListForm="ngForm">
        
            <!-- ingredient name -->
            <div class="col-sm-5 form-group">

                <label for="name">
                    Name
                </label>

                <!-- required validator and disable if we are on edit mode -->
                <input 
                    type="text" 
                    name="name"
                    id="name" 
                    class="form-control"
                    ngModel
                    required
                    [disabled]="editMode"
                    #name="ngModel">
                
                <!-- invalid ingredient name text -->
                <span   *ngIf="!name.valid && name.touched"
                        class="help-block">
                    This field is required.
                </span>

            </div>

            <!-- second input: ingredient amount -->
            <div class="col-sm-2 form-group">

                <label for="amount">
                    Amount
                </label>

                <!-- required validator, initial value of 1, pattern validator to -->
                <!-- ensure user places a positive number -->
                <input 
                    type="number"
                    name="amount"
                    id="amount" 
                    class="form-control"
                    [ngModel]="1"
                    [pattern]="'^[1-9]+[0-9]*$'"
                    required
                    #amount="ngModel">
                
                <!-- ingredient amount invalid message -->
                <span   *ngIf="!amount.valid && amount.touched"
                        class="help-block">
                    Wrong amount.
                </span>

            </div>

            <!-- buttons -->
            <div class="row">
    
                <!-- column -->
                <div class="col-xs-12">
    
                    <!-- add ingredient submit form button -->
                    <!-- disable if form is not valid -->
                    <!-- add .btn-edit class if we are on edit mode -->
                    <button type="submit" 
                            class="btn btn-success"
                            [disabled]="!shoppingListForm.valid"
                            [ngClass]="{ 'btn-edit': editMode }"
                            #submitButton>
                        Add
                    </button>
    
                    <!-- delete an ingredient -->
                    <!-- disable if we are not on edit mode -->
                    <button type="button" 
                            class="btn btn-danger"
                            [disabled]="!editMode"
                            (click)="onDeleteClick()">
                        Delete
                    </button>
    
                    <!-- clear ingredient form -->
                    <button type="button" 
                            class="btn btn-primary"
                            (click)="onClearClick()">
                        Clear
                    </button>
    
                </div>
    
            </div>
                
        </form>

    </div>

</div>