<!-- button: on click, call onToggle() handler -->
<button
    (click)="onToggle()">
    Display Details
</button>

<!-- check for toggle field on component class to display or not this content -->
<p
    *ngIf="toggle">
    {{ details }}
</p>

<!-- create an array of list items of size of the logs array -->
<!-- loop through each item in this logs array and set some styling in accordance of the current value of the log item -->
<ul id="log-list">
    <li *ngFor="let log of logs; let i = index"
        [ngStyle]="{backgroundColor: setBlue(log)}"
        [ngClass]="{'text-white': afterFifth(log)}">
        {{ log }}
    </li>
</ul>